* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: black;
}

hr{
    background-color: aliceblue;
}

h3{
    text-align: center;
    text-shadow: 3px 3px 2px;
}

a:hover{
    text-decoration: none;
}